# Object files
*.o
*.obj
*.lo
*.slo

# Builder folder
build/

# Dependencies folder (FTXUI and other deps)
.deps/

# Doxygen generated documentation
doxygen/

# Precompiled headers
*.gch
*.pch

# Dependency files
*.d

# Compiled libraries
*.so
*.dylib
*.dll
*.a
*.lib
*.la
*.lai

# Executables
*.exe
*.out
*.app

# Debug files
*.pdb
*.dwo
*.ilk

# IDE 
.vscode/